// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #017A35, secondary: #FF9619, danger: #f53d3d, light: #027a4c, dark: #063724, text-color: #00893B, bg-color: #063724, tab-color-active: #FF9619, tab-color-inactive: #FF9619, title-text-color: #FFFFFF, spinner-primary: #00893B, spinner-secondary: #FF9619);
$font-size:( title-font-size: 1.9rem);
$toolbar-background: color($colors, dark);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-background: color($colors, dark);
$list-ios-text-color: color($colors, text-color);
$toolbar-ios-active-color: color($colors, text-color);
$tabs-ios-background: color($colors, dark);
$tabs-ios-tab-color-active: color($colors, tab-color-active);
$tabs-ios-tab-color-inactive: color($colors, tab-color-inactive);
$toolbar-ios-title-text-color: color($colors, title-text-color);
$toolbar-ios-title-font-size: font-size($font-size, title-font-size);
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-background: color($colors, dark);
$list-md-text-color: color($colors, text-color);
$toolbar-md-active-color: color($colors, text-color);
$tabs-md-background: color($colors, dark);
$tabs-md-tab-color-active: color($colors, tab-color-active);
$tabs-md-tab-color-inactive: color($colors, tab-color-inactive);
$toolbar-md-title-text-color: color($colors, title-text-color);
$toolbar-md-title-font-size: font-size($font-size, title-font-size);
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$toolbar-wp-background: color($colors, dark);
$list-wp-text-color: color($colors, text-color);
$toolbar-wp-active-color: color($colors, tab-color-active);
$tabs-wp-background: color($colors, bg-color);
$tabs-wp-tab-color-active: color($colors, tab-color-active);
$tabs-wp-tab-color-inactive: color($colors, tab-color-inactive);
$toolbar-wp-title-text-color: color($colors, title-text-color);
$toolbar-wp-title-font-size: font-size($font-size, title-font-size);
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";